In [1]:
import pandas as pd
from config import username, password
from sqlalchemy import create_engine

In [2]:
breweries_file = "../resources/breweries.csv"
breweriesDF = pd.read_csv(breweries_file)
breweriesDF.set_index("brewery_id", inplace=True)

breweriesDF.head()

                                 name           city state
brewery_id
0                  NorthGate Brewing     Minneapolis    MN
1           Against the Grain Brewery     Louisville    KY
2            Jack's Abby Craft Lagers     Framingham    MA
3           Mike Hess Brewing Company      San Diego    CA
4             Fort Point Beer Company  San Francisco    CA

In [3]:
final_cleaned_beer_file = "../resources/final_cleaned_beer_4.csv"
cleanedbeerDF = pd.read_csv(final_cleaned_beer_file, encoding = 'utf-8')
cleanedbeerDF = cleanedbeerDF[['brewery_id','abv','ibu','name','style','ounces']]
cleanedbeerDF = cleanedbeerDF.reset_index()
cleanedbeerDF.set_index("index",inplace=True)
cleanedbeerDF = cleanedbeerDF.reset_index()
cleanedbeerDF = cleanedbeerDF.rename(columns={'index':'id'})
cleanedbeerDF.set_index("id",inplace=True)
cleanedbeerDF.head()

,brewery_id,abv,ibu,name,style,ounces
id,,,,,,
0,177,0.061,60,Bitter Bitch,American Pale Ale (APA),12.0
1,368,0.099,92,Lower De Boom,American Barleywine,8.4
2,368,0.079,45,Fireside Chat,Winter Warmer,12.0
3,368,0.044,42,Bitter American,American Pale Ale (APA),12.0
4,368,0.049,17,Hell or High Watermelon Wheat (2009),Fruit / Vegetable Beer,12.0

In [13]:
connection_string = (f"{username}:{password}@127.0.0.1:3306/craftbeerDB")
engine = create_engine(f'mysql://{connection_string}',encoding='utf-8')

In [14]:
# Confirm tables
engine.table_names()

['beer', 'breweries']

In [15]:
# Load Data from Pandas DF to DB Tables
breweriesDF.to_sql(
    name='breweries', con=engine, 
    if_exists='append', index=True)

In [16]:
# Load Data from Pandas DF to DB Tables
cleanedbeerDF.to_sql(
    name='beer', con=engine, 
    if_exists='append', index=True)